:root {
  --background-color: #ffffff;
  --default-color: #272829;
  --accent-color: #0563bb;
  --contrast-color: #ffffff;
}

:root {
  --header-background-color: #040b14;
}

:root {
  scroll-behavior: smooth;
}

@media (max-width: 1199px) {
  .header {
    background-color: var(--background-color);
    border-right: 1px solid
      color-mix(in srgb, var(--default-color), transparent 90%);
    width: 300px;
    left: -100%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .header ~ main {
    margin-left: 160px;
  }

  .header ~ main .hero {
    margin-left: -160px;
    width: 100vw;
  }
}

* {
  font-style: none;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  font-family: var(--heading-font);
  height: auto;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
#navbar {
  top: 25%;
  position: fixed;
  z-index: 1032;
}

.navbar-nav {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  align-items: left;
}

.nav-link {
  display: flex;
  text-decoration: none;
  border: transparent 3px solid;
  background: #17a2b8;
  border-radius: 25px;
}

.nav-link i {
  padding: 1.1rem;
}

#navbar .nav-link:hover {
  background: #17a2b8;
  color: #333;
  border-radius: 25px;
  border: transparent 3px solid;
}

#navbar .nav-link.active {
  background: #17a2b8;
  color: #333;
  border-radius: 25px;
}

.link-text {
  display: none;
  padding: 0.3rem;
  font-weight: bolder;
}

.nav-link:hover {
  width: 11rem;
}

.extend:hover {
  width: 14rem;
}

.nav-link:hover .link-text {
  display: block;
  font-size: 1.5rem;
}

/* Hero */
#hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

#hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
}

#hero h3 {
  position: relative;
  font-weight: bold;
  text-align: left;
  bottom: 2rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hero2.jpg) no-repeat center center/cover;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#hero .contents {
  color: #000;
  height: auto;
  padding: 1rem;
}

#hero .social {
  position: relative;
  bottom: 3rem;
  display: flex;
  list-style: none;
  padding: 1rem;
  font-size: larger;
}
